body {
    background-color: #EDD263;
}
.navigation-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-links, a {
    text-decoration: none;
    padding: 20px;
}
#search {
    display: flex;
    justify-content: center;
}
#search-btn {
    font-size: 25px;
    padding: 5px;
}
#text-box {
    font-size: 25px;
}
#recipe-area {
    margin: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.boxes {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px grey;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#detail-info {
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 10px;
    display: none;
}
#detail-info-texts {
    padding: 20px;
}
